.hidden {
  display: none;
}


 
 * , .flex-container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
}
.con {
  width: 100%;
  height: 100vh;
}
.slides , .flex-container{
  width: 100%;
  height: 100vh;

  gap: 50px;
  color: black;
  background-size: cover;
}
.slides img {
  width: 100%;
  height: 100vh;
}
header {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #8f9881;
  top: 0px;
  font-size: 32px;
  color: #99a1aa;
  display: block;
  position: relative;
}

#foot {
  height: 70px;
  width: 100%;
  border-top: 1px solid #8f9881;
  bottom: 0px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}



  button {
    
    width: 140px;
    height: 40px;
  }




#hangman img,
#hangman button {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
#gamefooter {
  border-top: 1px solid goldenrod;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  
}

#buttonn {
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
}



#wordDisplay {
  font-size: 2rem;
  margin: 20px;
}

#buttonn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

#message {
  font-size: 1.2rem;
  color: green;
}

#restartButton {
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 20px;
}
